body{
	margin: 0px;
	padding: 0px;
}
.header {
	background-color: #000000;
	padding: 20px;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.left {}
div{padding: 20px;}

h1{
	color: #ffffff;
	font-size: 16px;
	font-family: poppins;
	font-weight: 400;
	text-align: center;
}

.flexboxcontainer {
	display: flex;
	flex-direction: row;
	flex: 1 1 auto;
	max-width: 100%;
}
.flexboxcontainervertical {
	display: flex;
	flex-direction: column;
	max-width: 100%;
}

h2{
	color: #000000;
	font-size: 30px;
	font-family: poppins;

}
.hero {
	height:400px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background:url(https://images.pexels.com/photos/1145720/pexels-photo-1145720.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) rgba(0,0,0,0.70);
	background-blend-mode: multiply;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 5px 0px 25px;
}
.heroh1{
	font-family: poppins;
	font-size: 70px;
	font-weight: 100;

}


p{
	color: #000000;
	font-size: 20px;
	font-family: poppins;
	font-weight: 200;

}

.section2 {
	display: flex;
	flex-direction: row;
	max-width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

.bigart{max-height: 500px;}

.quote{
	font-family: dancing script;
	font-size: 50px;
}
h5{padding: 60px;}
.last {
	background: url(https://image.freepik.com/free-vector/wave-textures-white-background-vector_53876-60286.jpg);
	height: 200px;
	margin-bottom: 0px;
}
 #floating{
	position: relative;
	z-index: 100;
	max-width: 300px;
	height: auto;
	max-height: 300px;
	margin-top: -350px;
	margin-left: auto;
	margin-right: 50px;
}
#floatingdiv{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}
